<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="myHeader">
    <div id="about">

        <div id="signin">
            <a th:if="${Auth} != null" th:href="@{/logout}"> Sign Out </a>
            <a th:if="${Auth} == null" th:href="@{/login}"> Sign In </a>
        </div>

        <div id="menu">
            <ul class="list_menu" >
                <li> <a href=""> Menu </a>
                    <ul class="submenu">
                        <li> <a th:href="@{/}">Home</a> </li>
                        <li> <a th:href="@{/cabinet}">Cabinet</a> </li>
                        <li> <a th:if="${isCabinet}" th:href="@{/change-password}"> Change password </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

</html>