#main_content{
    padding-top: 5%;
    color: #fff;
}

#requests{
    margin-left: 0;
    padding: 5px;
    float: left;
    max-height: 100%;
    width: 20%;
    overflow: auto;
    display: inline;
}

#right_side{
    display: inline;
    height: 100%;
    width: 70%;
    padding: 5px;
    overflow: auto;
    margin-left: 5px;
    margin-right: 5px;
    overflow-scrolling: touch;
}

input{
    align-self: center;
}

.radioButtons{
    align-self: center;
}

form{
    width: 80%;
    margin: 5px;
    padding: 5px;
}

fieldset{
    width: 100%;
}

#request_info{
    width: 90%;
}

#new_request{
    align-self: center;
    align-content: center;
}