#main_content{
    padding-top: 5%;
    color: #fff;
}

#requests{
    margin: auto;
    padding: 5px;
    float: left;
    height: 80%;
    width: 20%;
    overflow: auto;
    display: inline;
    align-content: center;
    text-align: center;
}

#requests input{
    align-self: center;
}

#new_request{
    margin: auto;
    align-self: center;
    align-content: center;
}

li div.not_active {
    color: #ff3a1a;
}
li div.active{
    color: #3dc617;
}


li form div{
    text-align: center;
    align-self: center;
    align-content: center;
}

fieldset div div{
    align-content: center;
}

#request_list{
    overflow-y: auto;
    max-height: 600px;
}