
/*Регистрация*/
#main_content {
    width: 100%;
    background-blend-mode: multiply;
    background-size: cover;
    color: #b0b0b0;
    font-size: 1em;
    text-align: center;
    padding: 100px 0px;
}
