a {
    color: #DCDCDC;
}

h2 {
    padding-top: 10%;
}

#banner{
    width: 100%;
    background-blend-mode: multiply;
    background-size: cover;
    color: #DCDCDC;
    font-size: 3em;
    text-align: center;
    padding: 100px 0px;
}