<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layouts/myLayout">
<head>
    <title>Cloud-api</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/headers/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/common.css}"/>


</head>
<body>
<div th:replace="layouts/header :: myHeader"></div>
<div th:fragment="top">
    <div id="banner">
        <h2>Cloud-api</h2>
        <a th:href="@{/login}">Sign In</a>
    </div>
</div>
</body>
</html>


