<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/log.css}"/>
    <link rel="stylesheet" th:href="@{/css/headers/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/forms.css}"/>
</head>
<body>
<div th:replace="layouts/header :: myHeader"></div>
<div id="main_content">
    <form id="loginForm" th:action="@{/login}" method="post" class="form">
        <fieldset>
            <legend> <h3>Login</h3> </legend>
            <div class="field_unit">
                <h5>  Login </h5>
                <input placeholder="input login..."/>
            </div>

            <div class="field_unit">
                <h5> Password </h5>
                <input placeholder="input password..."/>
            </div>
            <div class="extra_actions">
                <div><a th:href="@{/recovery}">Forgot password</a></div>
                <div><a th:href="@{/registration}">Registration</a></div>
            </div>
            <div class="button" onclick="document.getElementById('loginForm').submit();">Log In</div>
        </fieldset>
    </form>
</div>
</body>
</html>