<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/log.css}"/>
    <link rel="stylesheet" th:href="@{/css/headers/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/forms.css}"/>
</head>
<body>
<div th:replace="layouts/header :: myHeader"></div>
<div id="main_content">
    <div th:if="${param.error}">
        <p class="invalid_auth" th:text="'Invalid Login or Password'"></p>
    </div>
    <form id="loginForm" th:action="@{/login}" method="post" class="form">
        <fieldset>
            <legend> <h3>Sign In</h3> </legend>
            <div class="field_unit">
                <label>  Login </label><br/>
                <input type="text" placeholder="input login..." name="username"/>
            </div>

            <div class="field_unit">
                <label> Password </label><br/>
                <input  type="password" placeholder="input password..." name="password"/>
            </div>
            <div class="extra_actions">
                <div><a th:href="@{/recovery}">Forgot password</a></div>
                <div><a th:href="@{/registration}">Registration</a></div>
            </div>
            <input type="submit" value="Login"/>
        </fieldset>
    </form>
</div>
</body>
</html>
