<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>New request</title>
    <link rel="stylesheet" th:href="@{/css/headers/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/forms.css}"/>
    <link rel="stylesheet" th:href="@{/css/chpass.css}"/>
</head>
<body>
<div th:replace="layouts/header :: myHeader(isCabinet = true)"></div>
<div id="main_content">
    <div id="new_request">
        <form action="/cabinet/newRequest" method="post" id="form" th:object="${Request} ">
            <fieldset>
                <legend>New request</legend>

                <div>
                    <label>Name</label><br/>
                    <input type="text" id="requestName" th:field="*{name}" th:default="'No_name'"/>
                </div>
                <div>
                    <label>URL</label><br/>
                    <input type="text" id="requestUrl" th:field="*{url}"/>
                </div>
                <div>
                    <label>Http-Status</label><br/>
                    <input type="text" id="HTTPstatus" th:field="*{httpStatus}"/>
                </div>
                <div>
                    <label>Header</label><br/>
                    <textarea type="text" id="requestHeader" cols="50" rows="10" th:field="*{headersString}"></textarea>
                </div>
                <div>
                    <label>Content</label><br/>
                    <textarea type="text" id="requestContent" cols="50" rows="10" th:field="*{content}"></textarea>
                </div>
                <select class="selectList" th:field="*{reqType}">
                    <option th:value="null">--Not selected--</option>
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="PATCH">PATCH</option>
                    <option value="DELETE">DELETE</option>
                    <option value="UPDATE">UPDATE</option>
                    <option value="COPY">COPY</option>
                    <option value="OPTIONS">OPTIONS</option>
                </select>
                <div>
                    <label>Priority</label><br/>
                    <input type="range" max="100" min="0" step="1" value="0" id="prior" th:field="*{priority}"
                           oninput="document.getElementById('priorOut')
                                .setAttribute('value', document.getElementById('prior').value)"/>
                    <input id="priorOut" size="3" th:field="*{priority}" readonly="readonly"/>
                </div>

                <input type="submit" value="ADD"/>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>