<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/headers/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/registr.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/forms.css}"/>
    <title>Registration</title>
</head>
<body>
<div th:replace="layouts/header :: myHeader"></div>
<div id="main_content">
    <form id="regForm" th:action="@{/registration}" method="post" th:object="${personFormRegistration}" class="form">
        <fieldset>
            <legend> <h3>Registration</h3> </legend>
            <div class="field_unit">
                <label> Name </label><br/>
               <input type="text" placeholder="input name..." th:field="*{name}"/>
                <p th:errorclass="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>

            <div class="field_unit">
                <label>Surname </label><br/>
                <input type="text" placeholder="input surname..." th:field="*{surname}"/>
                <p th:errorclass="err" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
            </div>

            <div class="field_unit">
                <label>Login</label><br/>
                <input type="text" placeholder="input login..." th:field="*{login}"/>
                <p th:errorclass="err" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
            </div>

            <div class="field_unit">
                <label>Password</label><br/>
                <input type="password" placeholder="input password..."  th:field="*{password}"/>
                <p th:errorclass="err" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>

            <div class="field_unit">
                <label>Repeat password</label><br/>
                <input type="password" placeholder="repeat password..." th:field="*{password2}" />
                <th:block th:if="${#fields.hasErrors('password2')}">
                    <div th:errorclass="err" th:errors="*{password2}"></div>
                </th:block>
            </div>

            <div class="field_unit">
                <label>Email</label><br/>
                <input type="text" placeholder="input email..." th:field="*{mail}"/>
                <th:block th:if="${#fields.hasErrors('mail')}">
                    <div th:errorclass="err"  th:errors="*{mail}"></div>
                </th:block>
            </div>

            <input type="submit" value="Registration"/>
        </fieldset>
    </form>
</div>

</body>
</html>