<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/reg.css}"/>
    <link rel="stylesheet" th:href="@{/css/headers/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/main_content/forms.css}"/>
    <title>Registration</title>
</head>
<body>
<div th:replace="layouts/header :: myHeader"></div>
<div id="main_content">
    <form id="regForm" th:action="@{/}" method="get" class="form">
        <fieldset>
            <legend> <h3>Success</h3> </legend>
            <input type="submit" value="Home"/>
        </fieldset>
    </form>
</div>

</body>
</html>