<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Users</title>
        <link rel="stylesheet" th:href="@{/css/main_content/common.css}"/>
        <link rel="stylesheet" th:href="@{/css/headers/header.css}"/>
        <link rel="stylesheet" th:href="@{/css/tables/table.css}"/>
        <link rel="stylesheet" th:href="@{/css/users.css}"/>

    </head>

    <body>
        <div th:replace="layouts/header :: myHeader"></div>
        <div id="main_content">
            <table class="table_list">
                <tr class="table_top">
                    <td> First name</td>
                    <td> Last name</td>
                    <td> Login</td>
                    <td> email</td>
                </tr>
                <tr th:each="person, iterStat : ${personList}" th:class="${iterStat.odd}? 'dark': 'light'">
                    <td th:text="${person.getName()}"> First name</td>
                    <td th:text="${person.getSurname()}"> Last name</td>
                    <td th:text="${person.getLogin()}"> Login</td>
                    <td th:text="${person.getEmail()} != ''? ${person.getEmail()} : 'None'"> email</td>
                </tr>
            </table>
        </div>

    </body>
</html>